/*
--- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- BORDER-RADIUS
Default: 9px
Medium: 11px

--- WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* GENERAL */
/**************************/
:root {
  --main-bg-color: #f3f3f3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  background-color: #e5e5e5;
  height: 100vh;

  display: flex;
  justify-content: end;
  align-items: flex-end;

  position: relative;
}

.hidden {
  display: none;
}

.chatbot-face {
  width: 10rem;
  position: absolute;
  bottom: 2%;
  right: 2%;

  cursor: pointer;
}

.button-bot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2.8rem;
  width: 25rem;
  height: 10rem;

  border-radius: 1.2rem;
  cursor: pointer;
  border: none;

  transition: all 200ms;
}

.button-bot:hover {
  color: #fff;
  background-color: #000074;
}

.chatbot-box {
  background-color: var(--main-bg-color);
  width: 25%;
  height: 70%;
  border-radius: 1.2rem;
}

/**************************/
/* CHATBOT HEADER */
/**************************/

.chatbot-header {
  background-color: #004b66;
  color: #f3f3f3;
  height: 10%;
  padding-left: 5%;
  border-radius: 1.2rem 1.2rem 0 0;

  display: flex;
  gap: 5%;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

.logo--header {
  height: 70%;
}

.chatbot-title {
  font-size: 2rem;
  font-weight: 500;
}

.chatbot-close-button {
  width: 3rem;
  height: 3rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: #f3f3f3;

  position: absolute;
  right: 5%;

  background-color: inherit;
  border-radius: 50%;
  border: none;

  transition: all 200ms ease-in;
}

.chatbot-close-button:hover {
  background-color: red;
}

/**************************/
/* CHATBOT CHAT */
/**************************/

.chatbot-chat {
  /* background-color: coral; */
  background-color: var(--main-bg-color);
  height: 78%;
  width: 100%;

  overflow-y: scroll;
  /* scroll-behavior: smooth; */

  padding-top: 180px;

  /* padding-top: auto; */

  /* display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; */
}

.chatbot-msg {
  /* background-color: springgreen; */
  align-self: baseline;
  width: 100%;
  padding: 1.6rem 1.6rem;
  /* margin: 0.5rem 0; */

  display: flex;
  gap: 5%;
  align-items: flex-end;
}

.logo--chat {
  width: 15%;
  background-color: transparent;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.chatbot-msg-content {
  background: linear-gradient(151.38deg, #0078a3 0%, #0abeff 100%);
  width: 85%;
  color: #f3f3f3;
  font-size: 1.6rem;
  line-height: 1.4;

  padding: 1rem 1.5rem;
  border-radius: 1.2rem;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

/* .chatbot-text {
  background-color: violet;
} */

/**************************/
/* CHATBOT CHAT USER*/

.chatbot-msg-user .logo--chat {
  visibility: hidden;
}

.chatbot-msg-user .chatbot-msg-content {
  background: linear-gradient(151.38deg, #e0e5ea 0%, #e7ecf0 100%);
}

.chatbot-msg-user .chatbot-text {
  color: #2d2d22;
}

/**************************/
/* CHATBOT CHAT OPTIONS*/

.chatbot-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.chatbot-option {
  background-color: #f3f3f3;
  height: 3rem;
  width: 90%;

  color: #2d2d2d;
  font-size: 1.4rem;
  line-height: 1.5;

  border-radius: 1.2rem;
  cursor: pointer;

  padding-left: 1.5rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

/**************************/
/* CHATBOT SEARCH */
/**************************/

.chatbot-search {
  /* background-color: yellow; */
  height: 12%;
  /* padding-bottom: 0.5rem; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background-color: #e7ecf0;
  width: 90%;
  height: 65%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.4);
}

/* LOADER */

.chatbot-msg-content.loader {
  width: 40%;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loader {
  height: 4rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.loader > span {
  display: inline-block;
  background-color: #fff;
  width: 0rem;
  height: 0rem;

  border-radius: 50%;
  margin: 0 0.8rem;

  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: #f3f3f3;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 1.6rem;
    height: 1.6rem;
    transform: translate3d(0, -1.6rem, 0);
  }
}
