# Node
node_modules/
package-lock.json 

app/__pycache__/

# fastapi
fastapi/log.txt
fastapi/__pycache__/
fastapi/venv/
fastapi/.tern-project
fastapi/test.py
fastapi/todo.MD
fastapi/venv/
fastapi/config.py


# Compilation
*.o
