/*
--- FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

--- SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- BORDER-RADIUS

Default: 9px
Medium: 11px

--- WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* GENERAL */
/**************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
  display: none;
}

:root {
  --main-bg-color: #f3f3f3;
  --red-color: #ff0022;
  --yellow-color: #ffbe0b;
  --secundary-color: #004b66;
  --secundary-color-light: #006e96;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secundary-color);

  /* Para hacerlo sticky */
  /* height: 9.6rem; */
  height: 9vh;

  padding: 0 6.4rem;

  position: relative;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}

.title-header-crud {
  font-size: 2rem;
  color: #f3f3f3;
  margin: 0;
}

.logo-crud {
  height: 4.8rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;

  margin: 0;
}

.nav-link {
  display: inline-block;

  text-decoration: none;
  color: #f3f3f3;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.3s;

  position: relative;

  z-index: 100;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 0.3rem;
  border-radius: 1.2rem;
  position: absolute;
  left: 1rem;
  bottom: -1rem;
  background-color: #f3f3f3;
  transition: width 200ms ease-in;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 80%;
}

/**************************/
/* MOBILE */
/**************************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  font-size: 3.2rem;

  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* SEARCH */
/**************************/
.section-search {
  height: 30vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  height: 60%;
  width: 60%;
  /* background-color: turquoise; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.btn-search {
  height: 25%;
  width: 50%;

  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
}

.btn-search input {
  width: 70%;
  height: 100%;

  border-radius: 1.2rem;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.2s;

  padding: 0 2rem;
}

.btn-search input:focus {
  border: 2px solid var(--secundary-color-light);
}

.btn-search button {
  width: 10%;
  height: 100%;
  border-radius: 1.2rem;

  background-color: var(--secundary-color);
  color: #f3f3f3;

  border: none;
  outline: none;

  cursor: pointer;
  transition: all 0.2s;
}

.btn-search button:hover {
  background-color: var(--secundary-color-light);
}

.btn-search button i {
  font-size: 1.6rem;
}

.container-btn-extra {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-btn-extra button {
  height: 100%;
  width: 20%;

  background-color: var(--secundary-color);
  color: #f3f3f3;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;

  outline: none;
  border: none;
  transition: all 0.2s;
}

.container-btn-extra button:hover {
  background-color: var(--secundary-color-light);
}

/**************************/
/* DATA */
/**************************/

.section-data {
  min-height: 50vh;
  background-color: #f3f3f3;

  display: flex;
  justify-content: center;
}

.container-table {
  background-color: #f3f3f3;
  width: 80%;
  height: 100%;
}

.grid-row {
  height: 4rem;
  width: 100%;
  background-color: yellowgreen;

  display: flex;
  /* justify-content: space-around; */
  padding-left: 2%;
  align-items: center;
}

.grid-row-error {
  justify-content: center;
}

.grid-row:nth-child(even) {
  background-color: #ebebeb;
}

.grid-row:nth-child(odd) {
  background-color: #fff;
}

.container-table .grid-row--header {
  background-color: #004b66;
}

.grid-row--header .grid-item {
  color: #f3f3f3;
  font-weight: bold;
}

.grid-item {
  color: #333;
  font-size: 1.6rem;

  display: flex;
  justify-content: start;
  /* background-color: violet; */
  align-items: center;
}

.grid-item--id {
  width: 5%;
}

.grid-item--nombre {
  width: 20%;
}

.grid-item--correo {
  width: 15%;
}

.grid-item--fecha {
  width: 15%;
}

.grid-item--descripcion {
  width: 30%;
}

.grid-item--botones {
  width: 15%;
  /* background-color: #ff0022; */

  display: flex;
  justify-content: center;
  gap: 5%;
}

.btn-update,
.btn-delete {
  cursor: pointer;
  border-radius: 1.2rem;
  outline: none;
  border: none;
  height: 2.5rem;
  width: 40%;

  opacity: 0.75;
  transition: all 0.2s;
}

.btn-update:hover,
.btn-delete:hover {
  opacity: 1;
}

.btn-update {
  background-color: var(--yellow-color);
}

.btn-delete {
  background-color: var(--red-color);
}

/*  */
/**************************/

/**************************/
/*  */
/**************************/
/**************************/
/*  */
/**************************/

.grid-container {
  /* background-color: #2196F3; */
  /* grid-template-columns: max-content; */
  /* grid-template-columns: auto auto auto; */
  /* border-radius: 10px; */
  align-self: center;
  display: grid;
  width: 1150px;
  margin: auto;
  border: 1px solid rgb(45, 66, 122);
}

.grid-row2 {
  width: auto;
  display: grid;
  grid-row: auto;
  text-align: center;
  /* grid-gap: 5px 5px; */
  grid-template-rows: 1fr max-content;
  grid-template-columns: repeat(6, max-content); /* added */
  /* grid-auto-rows: max-content; */
  /* overflow: auto; */
}

.grid-item2 {
  /* grid-column: 1/-1; */
  /* background-color: rgba(20, 255, 255, 0.8); */
  border: 1px solid rgb(0, 0, 0);
  padding: 16px;
  font-size: 14px;
  text-align: center;
}

.grid-id {
  width: 50px;
}

.grid-name {
  width: 200px;
}

.grid-email {
  width: 200px;
}

.grid-time {
  width: 100px;
}

.grid-description {
  width: 400px;
}

.grid-button-box {
  width: 200px;
}

.request {
  margin-top: 10px;
  display: flex;
  border-style: solid;
  border-width: thin;
  flex-direction: column;
  box-sizing: content-box;
  width: 200px;
  border-radius: 5px;
}

#Preguntas {
  background-color: rgb(249, 248, 149);
}

#Formulario {
  background-color: rgb(172, 219, 156);
}

.request > p {
  display: flex;
  justify-content: center;
}

.inputFast {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
  margin: 1px auto 10px;
}
