.grid-container {
  /* background-color: #2196F3; */
  /* grid-template-columns: max-content; */
  /* grid-template-columns: auto auto auto; */
  /* border-radius: 10px; */
  align-self: center;
  display: grid;
  width: 1150px;
  margin: auto;
  border: 1px solid rgb(45, 66, 122);
}

.grid-row {
  width: auto;
  display: grid;
  grid-row: auto;
  text-align: center;
  /* grid-gap: 5px 5px; */
  grid-template-rows: 1fr max-content;
  grid-template-columns: repeat(6, max-content); /* added */
  /* grid-auto-rows: max-content; */
  /* overflow: auto; */
}

.grid-item {
  /* grid-column: 1/-1; */
  /* background-color: rgba(20, 255, 255, 0.8); */
  border: 1px solid rgb(0, 0, 0);
  padding: 16px;
  font-size: 14px;
  text-align: center;
}

.grid-id {
  width: 50px;
}

.grid-name {
  width: 200px;
}

.grid-email {
  width: 200px;
}

.grid-time {
  width: 100px;
}

.grid-description {
  width: 400px;
}

.grid-button-box {
  width: 200px;
}



.request {
  margin-top: 10px;
  display: flex;
  border-style: solid;
  border-width: thin;
  flex-direction: column;
  box-sizing: content-box;
  width: 200px;
  border-radius: 5px;
}

#Preguntas{
  background-color: rgb(249, 248, 149);
}

#Formulario {
  background-color: rgb(172, 219, 156)
}

.request > p {
  display: flex;
  justify-content: center;
}

.inputFast {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
  margin: 1px auto 10px;
}
